@font-face {
  font-family: iranyekan;
  src: url("/assets/fonts/woff/IRANSansX-Regular.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: iranyekan;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 15px;
}

.hamburger {
  position: relative;
}

.hamburgers {
  list-style: none;
  position: absolute;
  z-index: 10;
  background-color: #fff;
  top: 30px;
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  left: 200%;
  border-radius: 10px;
  transition: all 0.4s ease-in;
}

.activehamburger {
  left: -210px;
}

.hamburgers li {
  margin-top: 1rem;
}

.hamburgers li a {
  color: #000;
  cursor: pointer;
}

.hamburger a {
  text-decoration: none;
  color: #ddd;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #444;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  left: 0; /* نمایش منو */
}

.sidebar ul {
  list-style: none;
  padding: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hamburger {
  position: relative;
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 3px 0;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.slide {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.showalert {
  background-color: green;
  position: fixed;
  top: 190px;
  right: 10px;
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  color: #ffff;
  /* opacity: 0; */
  transition: all 0.4s ease-in;
}

.notactive {
  opacity: 1;
}

.product-card img {
  width: 190px;
}

.product-card p {
  font-size: 13px;
  line-height: 25px;
  color: #696363;
}

.product-card button {
  border: none;
  padding: 8px;
  margin-top: 10px;
  background-color: rgb(89, 72, 199);
  color: #ffff;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.product-card h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  margin-top: 5.5rem;
}

.cart-container {
  position: absolute;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: fit-content;
  background-color: #ffff;
  top: 30px;
  z-index: 10;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 0 50px #000;
  transition: all 0.4s ease-in;
  opacity: 0;
}

.closed {
  position: absolute;
  left: 10px;
  font-size: 20px;
  top: 10px;
  cursor: pointer;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.quantity-controls button {
  border: none;
  width: 40px;
  font-size: 14px;
  background-color: rgb(47, 47, 223);
  border-radius: 5px;
  color: #ffff;
  cursor: pointer;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px dashed rgb(46, 46, 185);
}

.cart-item p {
  color: red;
}

.cart-item h4 {
  color: blue;
}

.null {
  color: red;
  font-size: 16px;
}

.cart-item img {
  width: 100px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
  }

  .navbar.active ul {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 768px) {
  .product-card {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 100%;
  }
}
