@font-face {
  font-family: iranyekan;
  src: url("/assets/fonts/woff/IRANSansX-Regular.woff");
}
/* تنظیمات عمومی */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iranyekan;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6dd5ed, #2193b0);
  overflow: hidden;
  background-size: 200% 200%;
  animation: gradientWave 10s ease infinite;
  animation: gradientWave 8s infinite alternate ease-in-out;
}

.login-container {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  outline: none;
}

.input-group label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #2193b0;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #6dd5ed;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.signup-link a {
  color: #2193b0;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* تنظیمات ریسپانسیو */
@media (max-width: 768px) {
  .login-container {
    padding: 20px;
    max-width: 90%;
  }
}

@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
